<!DOCTYPE html>
<html lang="en-US" ng-app="TIYAngularApp"> <!--"ng" commands are related to Angular JS-->

<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimiters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
-->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> <!--We bring in Angluar here; gets the generic libraries-->
<script src="../static/js/tiy-ng-controller.js"></script> <!-- uses the libraries to call to the JS controller-->
<script src="js/tiy-ng-controller.js"></script>

<body style="background: {{name}}" ng-controller="SampleController">

<div style="position: relative; float: left; width: 100%; padding: 20px;">
    <h1>{{greeting}} <span ng-bind="name"></span></h1>

    <p>Greeting : <input type="text" ng-model="greeting"></p>
    <p>Name : <input type="text" ng-model="name"></p>

    {{name}} is trying to figure things out ... <br/><br/>
    {{name says {{greeting}}..<br/>

    <input type="button" ng-click="getGames()" value="Refresh Game Data"/>

</div>

<div style="position: relative; float: left; width: 40%; padding: 20px;">
    <h2>Game List</h2>
    <ul>
        <li ng-repeat="game in games"> <!--like a "for" loop-->
            {{game.name}}- {{game.genre}}
            <button ng-click="deleteGame(game.id)">delete</button>
            <button ng-click="toggleGame(game.id)">toggle</button>
        </li>
    </ul>
</div>


</body>
</html>
